/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
  width: 1080px;
}

header {
  display: flex;
  justify-content: space-between;
  background: black;
  color: yellow;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid yellow;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px yellow;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-left: 70px;
}

a {
  display: flex;
  font-family: Source Sans Pro, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.sub-header {
  display: flex;
  justify-content: center;
  background: #c6c6c6;
  border: 1px black;
  font-style: italic;
  margin: 0 auto;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.underline {
  text-decoration: yellow underline;
}

h1 {
  font-family: Merriweather, serif;
  font-size: 28px;

}

p {
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
}
.section-box {
  background-image: url(../img/coworking.jpg);
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  padding: 50px;
  border: 1px;
}

#section-one-side {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  margin: 40px 40px 40px 500px;
  border: 1px solid;
  padding: 30px;
  background: white;
  opacity: 0.8;
}



.section-two {
  display: flex;
  flex-direction: row;
  background:rgb(236, 232, 232);
  padding: 10px 5px;

}

#create-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 360px;

}

#find-developer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 360px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

#find-designer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 360px;
}

.button-yellow{
  display: flex;
  background-color: yellow;
  font-family: Oswald;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 24px;
  border-radius: 20px;
  flex-grow: 2;
  justify-content: center;
}


.button {
  display: flex;
  background: #c6c6c6;
  font-family: Oswald;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 24px;
  border-radius: 20px;
  flex-grow: 2;
  justify-content: center;
}

a.button-link:visited {
  text-decoration: none;
}

footer {
  color: white;
  background: black;
  padding: 30px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 24px;
}
