body {
    background-color: white;
}
.header {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
h1, h2, .temp, .humidity, .rain, .output {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

h1, h2 {
    color: darkcyan;
}

